# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
*.egg
.eggs/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
.coverage.*

.venv/
venv/
env/
ENV/

.env
.env.*
*.env

*.db
*.sqlite
*.sqlite3


uploads/


.vscode/
.idea/
*.suo
*.sw?
.DS_Store